  .row{
    border: 1px solid rgb(23, 23, 51);
    background-color: rgb(220, 243, 235);
    padding: .5rem;
    border-radius: .5rem;
  }

  .row>div{
    background-color: rgb(191, 243, 226);
    border: 1px solid black;
    border-radius: 1rem;

  }
  .columna{
    background-color: rgb(191, 243, 226);
    border: 1px solid black;
    border-radius: 1rem;
    margin: .2rem;
  }
  
