* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}
.container {
  background-color: rgb(235, 223, 232);
  box-shadow: 0 4px 12px rgba(74, 19, 70, 0.1);
  border-radius: 10px;
}

.col-md-4 {
  background-color: #420785;
  border: 1px solid #140321;
  border-radius: 1rem 0 0 1em;
  border-right: 3px solid rgb(37, 6, 66);
}
.col-md-8 {
  border: 1px solid #140421;
  border-radius: 0 1rem 1rem 0;
}

.col-md-4 img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 4px solid #140421;
}
.h2, h2 {
    font-size: calc(1.325rem + .9vw);
    border-bottom: 2px solid #ccc;
}

.accordion-button {
  background-color: #a68dc2;
} 