*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

img{
    max-width: 100;
    height: auto;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    border-radius: 0.5rem;
}

.personaje{
    width: 45%;
    border: 1px solid olivedrab;
    border-radius: 0.5rem;
    background-color: white;
  
}

.cuadricula{
    display: flex;
    flex-wrap: wrap;
    border: 4px solid black;
    justify-content:space-evenly;
    row-gap: 3rem;
    margin: 2rem 0;
    padding: 4rem 0;
    background-color: honeydew;

}

.foto-pers{
    width: 40%;
    margin-left: 30%;
    height: 200%;
    object-fit: contain;
}

h1{ font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;

}

footer{
    font-size: 0.9rem;
    background-color: black;
    
}