
body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  color: #333;
  padding: 30px;
  max-width: 600px;
  margin: auto;
}
h2 {
  color: #0c0e11;
}
input, button, select {
  margin-top: 10px;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}
button {
  background-color: #b36500;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
button:hover {
  background-color: #dfe4eb;
}
ul {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}
li {
  background: #e8f0fe;
  margin: 5px 0;
  padding: 8px;
  border-radius: 6px;
}